ipykernel==6.29.5
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-text-splitters==0.3.8
PyMuPDF==1.25.5
unstructured==0.17.2
Markdown==3.8
faiss-cpu==1.11.0
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20
pytz==2025.2

streamlit==1.45.1
langchain-ollama==0.3.3
